USE [master]
GO
/****** Object:  Database [DisneyDB]    Script Date: 27/6/2022 10:30:44 ******/
CREATE DATABASE [DisneyDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DisneyDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DisneyDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DisneyDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DisneyDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DisneyDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DisneyDB]
GO
/****** Object:  User [Disney]    Script Date: 27/6/2022 10:30:44 ******/
CREATE USER [Disney] FOR LOGIN [Disney] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [alumno]    Script Date: 27/6/2022 10:30:44 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Disney]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 27/6/2022 10:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imagen] [varchar](500) NULL,
	[titulo] [varchar](50) NOT NULL,
	[fechaDeCreacion] [date] NULL,
	[calificacion] [int] NULL,
	[PersonajesAsociados] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 27/6/2022 10:30:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imagen] [varchar](50) NULL,
	[nombre] [varchar](50) NOT NULL,
	[edad] [int] NULL,
	[peso] [float] NULL,
	[historia] [varchar](50) NULL,
	[peliculasOSeries] [varchar](50) NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
